<!DOCTYPE html>
<html>
<head>
  <title>Not found!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <!-- This file lives in public/404.html -->

  <div class="container">
    <div class="row">
      <div class="col-xs-12" style="margin-top:200px;">
        <h1>The page you were looking for doesn't exist.</h1><br><br>
        <%= link_to 'GO BACK', accounts_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
    
</body>
</html>
