/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,700,700i');

@import 'colors';


body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: "Montserrat"!important;
}

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.right-align { text-align: right; }
.left-align { text-align: left; }
.center-align { text-align: center; }
.text-bold { font-weight: 700; }

.center-vertical {
	
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

form input[type="submit"], button[type="submit"] {
	background-color:#C4E0F9;
	color:#041133;
	font-weight:bold;
	border-radius:0;
	font-size: 1.3em;
	padding: 10px 20px;
	box-shadow: none;
	appearance: none;
	border: none;
	letter-spacing: 1.5px;
	transition: 0.3s ease;
	&.disable-button {
		background:grey;
		color: white;
		&:hover {background-color: grey;}
	}
	&:hover {
		box-shadow:7px 7px #E6E6E6;
		background-color: #C4E0F9;
		color: #041133;
	}
}



