<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<style>
	.container-fluid {
		width: 100%;
		background: #0B1B35;
		color: white;
		text-align: center;
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.row {
		width: 100%;
	}
	.header img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 150px;
		margin-bottom: 30px;
	}
	* {
		font-family: 'Montserrat';
	}
	a {
		color: white;
		font-weight: 700;
	}
</style>

<div class="container-fluid">
	<div class="row header">
		<%= image_tag "header.jpg", class: "header" %>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2>You have requested to change your password.</h2>

			<p>Click this <%= link_to 'link', edit_password_url(@resource, reset_password_token: @token) %> to change your password.</p>
			<br>
			<p>If you didn't request this, please ignore this email.</p>
		</div>
	</div>
</div>